@model HomeDetailsViewModel
@{ 
    ViewBag.Title = "学生详情页面";
    var photopath = "~/images/" + (Model.Student.PhotoPath?? "noimage.png");
}


    <div class="row justify-content-center m-3" >
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h3>@Model.Student.Name</h3>
                    </div>
                    <div class="card-body text-center">
                        <img class="card-img-top imagesThumbnail" src="@photopath" asp-append-version="true"/>
                        <h4>学生ID: @Model.Student.Name</h4>
                        <h4>邮箱: @Model.Student.Email</h4>
                        <h4>班级名称: @Model.Student.ClassName</h4>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="Index"  class="btn btn-primary m-1">返回</a>

                    <a href="#" class="btn btn-primary m-1">编辑</a>
                    <a href="#" class="btn btn-danger m-1">删除</a>
                </div>
            </div>
    </div>    


@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}


